<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>column1</key>
<string>id</string>
<key>column2</key>
<string>is_permanent</string>
<key>column3</key>
<string>type</string>
<key>column4</key>
<string>skypename</string>
<key>column5</key>
<string>pstnnumber</string>
<key>column6</key>
<string>aliases</string>
<key>column7</key>
<string>fullname</string>
<key>column8</key>
<string>birthday</string>
<key>column9</key>
<string>gender</string>
<key>column10</key>
<string>languages</string>
<key>column11</key>
<string>country</string>
<key>column12</key>
<string>province</string>
<key>column13</key>
<string>city</string>
<key>column14</key>
<string>phone_home</string>
<key>column15</key>
<string>phone_office</string>
<key>column16</key>
<string>phone_mobile</string>
<key>column17</key>
<string>emails</string>
<key>column18</key>
<string>hashed_emails</string>
<key>column19</key>
<string>homepage</string>
<key>column20</key>
<string>about</string>
<key>column21</key>
<string>avatar_image</string>
<key>column22</key>
<string>mood_text</string>
<key>column23</key>
<string>rich_mood_text</string>
<key>column24</key>
<string>timezone</string>
<key>column25</key>
<string>capabilities</string>
<key>column26</key>
<string>profile_timestamp</string>
<key>column27</key>
<string>nrof_authed_buddies</string>
<key>column28</key>
<string>ipcountry</string>
<key>column29</key>
<string>avatar_timestamp</string>
<key>column30</key>
<string>mood_timestamp</string>
<key>column31</key>
<string>received_authrequest</string>
<key>column32</key>
<string>authreq_timestamp</string>
<key>column33</key>
<string>lastonline_timestamp</string>
<key>column34</key>
<string>availability</string>
<key>column35</key>
<string>displayname</string>
<key>column36</key>
<string>refreshing</string>
<key>column37</key>
<string>given_authlevel</string>
<key>column38</key>
<string>given_displayname</string>
<key>column39</key>
<string>assigned_speeddial</string>
<key>column40</key>
<string>assigned_comment</string>
<key>column41</key>
<string>alertstring</string>
<key>column42</key>
<string>lastused_timestamp</string>
<key>column43</key>
<string>authrequest_count</string>
<key>column44</key>
<string>assigned_phone1</string>
<key>column45</key>
<string>assigned_phone1_label</string>
<key>column46</key>
<string>assigned_phone2</string>
<key>column47</key>
<string>assigned_phone2_label</string>
<key>column48</key>
<string>assigned_phone3</string>
<key>column49</key>
<string>assigned_phone3_label</string>
<key>column50</key>
<string>buddystatus</string>
<key>column51</key>
<string>isauthorized</string>
<key>column52</key>
<string>popularity_ord</string>
<key>column53</key>
<string>external_id</string>
<key>column54</key>
<string>external_system_id</string>
<key>column55</key>
<string>isblocked</string>
<key>column56</key>
<string>authorization_certificate</string>
<key>column57</key>
<string>certificate_send_count</string>
<key>column58</key>
<string>account_modification_serial_nr</string>
<key>column59</key>
<string>saved_directory_blob</string>
<key>column60</key>
<string>nr_of_buddies</string>
<key>column61</key>
<string>server_synced</string>
<key>column62</key>
<string>contactlist_track</string>
<key>column63</key>
<string>last_used_networktime</string>
<key>column64</key>
<string>authorized_time</string>
<key>column65</key>
<string>sent_authrequest</string>
<key>column66</key>
<string>sent_authrequest_time</string>
<key>column67</key>
<string>sent_authrequest_serial</string>
<key>column68</key>
<string>buddyblob</string>
<key>column69</key>
<string>cbl_future</string>
<key>column70</key>
<string>node_capabilities</string>
<key>column71</key>
<string>revoked_auth</string>
<key>column72</key>
<string>added_in_shared_group</string>
<key>column73</key>
<string>in_shared_group</string>
<key>column74</key>
<string>authreq_history</string>
<key>column75</key>
<string>profile_attachments</string>
<key>column76</key>
<string>stack_version</string>
<key>column77</key>
<string>offline_authreq_id</string>
<key>column78</key>
<string>node_capabilities_and</string>
<key>column79</key>
<string>authreq_crc</string>
<key>column80</key>
<string>authreq_src</string>
<key>column81</key>
<string>pop_score</string>
<key>column82</key>
<string>authreq_nodeinfo</string>
<key>column83</key>
<string>main_phone</string>
<key>column84</key>
<string>unified_servants</string>
<key>column85</key>
<string>phone_home_normalized</string>
<key>column86</key>
<string>phone_office_normalized</string>
<key>column87</key>
<string>phone_mobile_normalized</string>
<key>column88</key>
<string>sent_authrequest_initmethod</string>
<key>column89</key>
<string>authreq_initmethod</string>
<key>column90</key>
<string>verified_email</string>
<key>column91</key>
<string>verified_company</string>
<key>column92</key>
<string>sent_authrequest_extrasbitmask</string>
<key>column93</key>
<string>liveid_cid</string>
<key>column94</key>
<string>extprop_contact_ab_uuid</string>
<key>column95</key>
<string>extprop_external_data</string>
<key>column96</key>
<string>extprop_last_sms_number</string>
<key>column97</key>
<string>extprop_viral_upgrade_campaign_id</string>
<key>column98</key>
<string>is_auto_buddy</string></dict>
</plist>
